body{
    background-color: black;
}

article{
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    width: 250px;
    margin: 25% auto;
    border: solid white;
    padding: 10px 0;
}

img{
    width: 70px;
    border-radius: 50%;
}

button{
    display: block;
    margin: 5px auto;
    width: 80%;
    height: 30px;
    border-radius: 6px;
    background-color: #333;
    color: white;
    border: none;
}